.box {
    margin: auto;
    width: 300px;
    height: 300px;
    overflow: auto;
}
.box::-webkit-scrollbar {
    width: 2em;
    height: 1em;
  }
  
  .box::-webkit-scrollbar-track {
    background: hsl(120 75% 50% / 1);
    border-radius: 100vw;
    margin-block: 0.5em;
  }
  
  .box::-webkit-scrollbar-thumb {
    background: hsl(120 100% 20% / 1);
    border: 0.25em solid hsl(120 75% 50% / 1);
    border-radius: 100vw;
  }
  
  .box::-webkit-scrollbar-thumb:hover {
    background: hsl(120 100% 10% / 1);
  }
  @supports(scrollbar-color: red blue) {
      *{
        scrollbar-color: hsl(120 100% 20% / 1) hsl(120 75% 50% / 1);
      }
  }