@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Permanent+Marker&family=Bungee&display=swap');
:root {
    --head-foot: linear-gradient(to right bottom, #16ed9a, #00e4a2, #00dba8, #00d2ad, #00c9af, #00bfb4, #00b5b7, #00aab6, #009cb6, #008eb4, #007faf, #0070a7);
    --clip-shapes: linear-gradient(to right bottom, #ed163a, #f00052, #ef006a, #e90082, #df1699, #d231ad, #c144bf, #ac54ce, #9065db, #7072e3, #4a7de7, #0086e6);
  }
html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgba(255, 191, 249, 0.5);
}
.container {
    width:70%;
    margin-inline: auto;
}
a {
    text-decoration: none;
}

/*brand-name : ABDUL SALPHAN ---------------------------------------------------------------- */
.brand {
    background: var(--head-foot);
}
/* .brand-info {
    margin: 16px 0;
} */
.brand-info h1, .brand-info h3 {
    display: inline;
    color: black;
}
.brand-info h1 {
    font-family: 'Permanent Marker', cursive;
}
.brand-info h3 {
    font-family: 'Josefin Sans', sans-serif;
}

/* Navbar ---------------------------------------------------------------------------------- */
.nav-list {
    display: grid;
    grid-template-areas: "home about portfolio contact";
}
#home {
    grid-area: home;
}
#about {
    grid-area: about;
}
#portfolio {
    grid-area: portfolio;
}
#contact {
    grid-area: contact;
}
nav {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--clip-shapes);
    /* clip-path: polygon(0 0, 0% 80%, 11% 80%, 22% 100%, 78% 100%, 89% 80%, 100% 80%, 100% 0); */
    /* clip-path: polygon(10% 0%, 20% 100%, 80% 100%, 90% 0%); */
    clip-path: polygon(calc(100% - 90vw) 0%, 20% 100%, 80% 100%, calc(100% - 10vw) 0%);
}
.backlayer {
    /* margin-top: -80px; */
    position: sticky;
    top: 0;
    width: 100%;
    height: 64px;
    z-index:8;
    /* background: red;
    background: linear-gradient(to bottom, rgba(255, 191, 249, 1), rgba(255, 191, 249, 1), rgba(255, 191, 249, 0)); */
}
.nav-shadow {
    margin-top: -64px;
    position: sticky;
    top: 0;
    width: 100%;
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.2));
    z-index: 10;
    height: 64px;
}
/* .nav-shadow::before {
    margin-top: -80px;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    opacity: .5;
    background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0));
} */
.navbar li {
    list-style: none;
    text-align: center;
}
.navbar a {
    color: black;
    line-height: 24px;
}
.active a {
    color: blue;
}

/* content ------------------------------------------------------------------- */
.content {
    margin-block: 30px 20px;
    width: 100%;
}

/* page title ---------------------------------------------------------------- */
.page-id {
    margin-block: 30px;
}
.page-name h2 {
    font-family: 'Bungee', cursive;
    font-size: 80px;
    line-height: 1;
    color: white;
    width: fit-content;
    margin: auto;
    user-select: none;
}

.content .rows {
    background-color: aqua;
    min-height: 300px;
    margin-bottom: 10px;
}

/* HOME PAGE ---------------------------------------------------------------- */














/* ABOUT PAGE --------------------------------------------------------------- */
.tech-stack {
    margin-block: 32px;
}
.tech-item {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    min-height: 200px;
    border-bottom: 1px ridge;
}
.stack-label {
    /* border: 1px solid black; */
    width: 20%;
    text-align: center;
    margin: auto;
}
.stack-label .fa-size {
    font-size: 10em; 
}
.tech-item h4 {
    margin-bottom: 16px;
}
.tech-item i {
    display: block;
    /* margin: auto; */
}
.tech-item span {
    width: 70%;
    margin: auto;
}
#css span, #php span {
    order: -1;
}

















/* CONTACT PAGE ------------------------------------------------------------- */
.contact-interact {
    display: grid;
    /* border: 1px solid black; */
    grid-template-areas: "links forms forms forms";
    margin-top: 32px;
}
#links {
    grid-area: links;
}
#forms {
    grid-area: forms;
}
.social {
    margin-block: 40px;
}
.social-list {
    display: grid;
    place-items: center;
    /* border: 1px solid black; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "twitter linkedin"
    "skype gmail"
    "github telegram"
    "whatsapp instagram";
}
#Twitter {
    grid-area: twitter;
}
#LinkedIn {
    grid-area: linkedin;
}
#Skype {
    grid-area: skype;
}
#Gmail {
    grid-area: gmail;
}
#GitHub {
    grid-area: github;
}
#Telegram {
    grid-area: telegram;
}
#WhatsApp {
    grid-area: whatsapp;
}
#Instagram {
    grid-area: instagram;
}
.social-list li {
    list-style: none;
}
.social-list i:hover {
    box-shadow:inset 0 0 80px rgba(0, 0, 0, 0.2);
}
.social-list i {
    width:72px;
    height:72px;
    line-height: 72px;
    margin-block: 16px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    /* box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.2); */
}
.social-list a {
    color: black;
}
.contact-form {
    /* border: 1px solid rgb(50 54 59 / 20%); */
    border-radius: 6px;
    width: 80%;
    margin: auto;
}
.form-inner {
    padding: 2vw 1.5vw;
    background-color: beige;
    border-radius: 20px;
}
.form-title {
    margin-bottom: 8px;
}
.form-title h3 {
    font-family: 'Inter', sans-serif;
}
.form-body {
    margin-top: 16px;
}
.form-row {
    margin-bottom: 16px;

}
.form-label {
    font-family: 'Inter', sans-serif;
    padding-left: 5%;
}
.form-input {
    border: 1px solid rgb(50 54 59 / 20%);
    display: block;
    border-radius: 6px;
    line-height: 26px;
    width: 90%;
    padding: 6px 12px;
    margin-left: 5%;
}








footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100px;
    background: var(--head-foot);
    /* clip-path: polygon(0 0, 10% 0, 20% 20%, 80% 20%, 90% 0, 100% 0, 100% 100%, 0 100%); */
    /* clip-path: polygon(10% 0%, 20% 100%, 80% 100%, 90% 0%); */
    /* clip-path: polygon(calc(100% - 90vw) 0%, 20% 100%, 80% 100%, calc(100% - 10vw) 0%); */
}
.foot::before,
.foot::after {
    position: absolute;
    content: '';
    background: var(--clip-shapes);
    height: 64px;
    width: 20%;
    top: -64%;
}
.foot::before {
    left: 0;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
}
.foot::after {
    right: 0;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
}
.foot-shadow {
    /* border: 1px solid black; */
    /* background-color: blueviolet; */
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.2));
    position: sticky;
    bottom: -100px;
    /* top: 20px; */
}
.foot p {
    color: #fff;
}







@media (max-width: 992px) {    
    .stack-label .fa-size {
        font-size: 8em; 
    }
}
@media (max-width: 768px) {    
    .stack-label .fa-size {
        font-size: 6em; 
    }
    .fa-3x {
        font-size: 3rem;
    }
    .page-name h2 {
        font-size: 48px;
    }
    .contact-interact {
        display: grid;
        /* border: 1px solid black; */
        grid-template-areas: 
        "links"
        "forms";
        margin-top: 0;
    }
    .social-list {
        display: grid;
        place-items: center;
        /* border: 1px solid black; */
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "twitter linkedin skype gmail"
        "github telegram whatsapp instagram";
        /* column-gap: 17%;
        row-gap: 16px; */
    }
    .form-inner {
        padding: 3vw 3vw;
    }
    .contact-form {
        width: 100%;
    }
}
@media (max-width: 576px) {
    .tech-item {
        display: block;
        /* align-items: center; */
        /* border: 1px solid black; */
        min-height: 300px;
        padding-block: 50px;
        border-bottom: 1px ridge;
    }    
    .stack-label {
        /* border: 1px solid black; */
        width: 100%;
        text-align: center;
        margin: auto;
    }
    .stack-label .fa-size {
        font-size: 10em; 
    }
    .tech-item h4 {
        margin-bottom: 16px;
        text-align: center;
    }
    .social-list i {
        width:64px;
        height:64px;
        line-height: 64px;
        margin-block: 0;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        /* box-shadow:inset 0 0 20px rgba(0, 0, 0, 0.2); */
    }
    .fa-3x {
        font-size: 2rem;
    }
}